title: Latest News
layout: site.liquid
---
<h2>Latest News</h2>

{% assign idx = 0 %}
{% for post in collections.posts.pages %}
{% if idx < 1 %}
<article class="blog-list">
  <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
  <time pubdate="pubdate">{{ post.published_date | date: "%b %d, %Y" }}</time>
  - {{ post.data.author }}
  <br />
  <p>{{ post.content | strip_html | truncatewords: 25, '...' }}</p>
</article>
{% endif %}
{% assign idx = idx | plus: 1 %}
{% endfor %}

