extends: site.liquid
---

<h2>Latest News</h2>

{% assign idx = 0 %}
{% for post in posts %}
{% if idx < 1 %}
<article class="blog-list">
  <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
  <time pubdate="pubdate">{{ post.date | date: "%b %d, %Y" }}</time>
  - {{ post.author }}
  <br />
  <p>{{ post.content | strip_html | truncatewords: 25, '...' }}</p>
</article>
{% endif %}
{% assign idx = idx | plus: 1 %}
{% endfor %}

